<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAbstractOrderLabel" jhiTranslate="peteasyApp.abstractOrder.home.createOrEditLabel">Create or edit a Abstract Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!abstractOrder.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="abstractOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="peteasyApp.abstractOrder.subTotal" for="field_subTotal">Sub Total</label>
            <input type="number" class="form-control" name="subTotal" id="field_subTotal"
                [(ngModel)]="abstractOrder.subTotal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="peteasyApp.abstractOrder.total" for="field_total">Total</label>
            <input type="number" class="form-control" name="total" id="field_total"
                [(ngModel)]="abstractOrder.total"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="peteasyApp.abstractOrder.tax" for="field_tax">Tax</label>
            <input type="number" class="form-control" name="tax" id="field_tax"
                [(ngModel)]="abstractOrder.tax"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="peteasyApp.abstractOrder.shippingCost" for="field_shippingCost">Shipping Cost</label>
            <input type="number" class="form-control" name="shippingCost" id="field_shippingCost"
                [(ngModel)]="abstractOrder.shippingCost"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="peteasyApp.abstractOrder.shippingAddress" for="field_shippingAddress">Shipping Address</label>
            <select class="form-control" id="field_shippingAddress" name="shippingAddress" [(ngModel)]="abstractOrder.shippingAddressId">
                <option [ngValue]="null"></option>
                <option [ngValue]="addressOption.id" *ngFor="let addressOption of shippingaddresses; trackBy: trackAddressById">{{addressOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="peteasyApp.abstractOrder.billingAddress" for="field_billingAddress">Billing Address</label>
            <select class="form-control" id="field_billingAddress" name="billingAddress" [(ngModel)]="abstractOrder.billingAddressId">
                <option [ngValue]="null"></option>
                <option [ngValue]="addressOption.id" *ngFor="let addressOption of billingaddresses; trackBy: trackAddressById">{{addressOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
